{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "emotion",
        "babel-plugin-add-react-displayname",
        "@babel/plugin-proposal-class-properties",
        [
          "module-resolver",
          {
            "extensions": [".ts", ".tsx"],
            "root": ["./src"]
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true }],
        "babel-plugin-add-react-displayname",
        "@babel/plugin-proposal-class-properties",
        [
          "module-resolver",
          {
            "extensions": [".ts", ".tsx"],
            "root": ["./src"]
          }
        ]
      ]
    }
  }
}
